body {
    margin: 0;
}
.list-bg {
    background: rgb(231, 232, 236);
    padding: 10px;
}

.list-item {
    background: rgb(219, 214, 214);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 5px;
    box-shadow: rgb(80, 80, 80) 0px 2px 4px 0px;
    cursor: pointer;
}

.list-item h4 {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}

.list-item p {
    color: grey;
    margin: 5px 0px;
}